<div class="row1">
	<div class="box1">
		<h1>{title}</h1>
		
		<f:format.raw>{media.text}</f:format.raw>

		<div class="bottomRow">
			<div class="fbIcon"><img src="layout/image/icon.png" alt="" /></div>
		</div>

	</div>
	<div class="box2">
		<div class="image images1"><f:image src="{projectseavieuw:mediaposition(position:'0',media:'{media.media}')}" width="150" height="150" alt="" /></div>
		<div class="image images2"><f:image src="{projectseavieuw:mediaposition(position:'1',media:'{media.media}')}" width="150" height="150" alt="" /></div>
	</div>
	<div class="video">
		<f:render partial="Project/video" arguments="{key :media.youtubeKey , width : '500'  , height: '500' }"/>
	</div>
</div>